@import "animations.scss";
@import "colors.scss";
@import "constants.scss";
@import "fonts.scss";

.article {
	@include animate(article-animation 500ms);
	border-color: #999;
	border-style: solid;
	border-width: 0px;
	margin: 0rem 2rem;
	z-index: 1;

	a {
		color: $color-orange2;
		text-decoration: none;
	}
}

@media only screen and (max-width: $mobile-max-size) {
	.article {
		margin: 0;
	}
}

.article-topbar {
	background-color: $bg-color-faded-l03;
	display: flex;
	font-family: $font-family-p;
	justify-content: space-between;
	margin: 0;
	a {
		color: white;
		background-color: rgba(0, 0, 0, 0);
		padding: 1rem;
		text-decoration: none;
		transition: 300ms;
		&:hover {
			background-color: rgba(0, 0, 0, 0.25);
		}
		&:visited {
			color: white;
		}
	}
}

@media only screen and (max-width: $mobile-max-size) {
	.article-topbar {
		a {
			padding: 0.7rem;
		}
	}
}

.article-topbar-link {
	background-color: $article-bg;
	padding: 0.7rem;
	text-align: center;
}

.article-content {
	background-color: $article-bg;
	font-family: $font-family-p;
	font-size: $article-font-size;
	overflow-x: auto;
	padding: 1rem 3rem 2rem 3rem;

	h1 {
		border-bottom: 3px solid black;
		font-size: 3rem;
		font-weight: bold;
		margin: 2rem 0 1rem 0;
	}
	h2 {
		font-size: 2.5rem;
		font-weight: bold;
		margin: 2rem 0 0 0;
	}
	h3 {
		font-size: 2.25rem;
		font-weight: bold;
		margin: 0.4rem 0 0 0;
	}
	h4 {
		font-size: 1.9rem;
		margin: 0;
	}
	h5 {
		margin: 0;
		font-size: 1.75rem;
	}
	h6 {
		font-size: 1.25rem;
		margin: 0;
		font-weight: normal;
	}

	p {
		margin: 0;
		font-size: $article-font-size;
	}

	li {
		font-size: $article-font-size;
	}
}

@media only screen and (max-width: $mobile-max-size) {
	.article-content {
		background-color: $article-bg;
		font-size: $article-font-size-mobile;
		padding: 0.3rem 1.1rem 2rem 1.1rem;

		h1 {
			border-bottom: 2px solid black;
			font-size: 2rem;
			font-weight: bold;
		}
		h2 {
			font-size: 1.9rem;
			font-weight: bold;
		}

		h3 {
			font-size: 1.7rem;
			font-weight: bold;
		}

		h4 {
			font-size: 1.2rem;
			margin: 0;
		}

		h5 {
			font-size: 1.2rem;
			margin: 0;
		}

		h6 {
			font-size: 1.1rem;
			margin: 0;
		}

		p {
			font-size: $article-font-size-mobile;
		}

		ul {
			padding: 0 1rem 0 1.5rem;
		}

		li {
			font-size: $article-font-size-mobile;
		}
	}
}
