@import "colors.scss";
@import "constants.scss";
@import "fonts.scss";

.article {
	background: rgba(0, 0, 0, 0);
	color: $fg-2;
	margin: 0rem 2rem;
	font-family: $font-family-p;
	font-size: $article-font-size;
	overflow-x: auto;
	z-index: 1;

	h1 {
		border-bottom: 3px solid black;
		font-size: 3rem;
		font-weight: bold;
		margin: 2rem 0 1rem 0;
	}
	h2 {
		font-size: 2.5rem;
		font-weight: bold;
		margin: 2rem 0 0 0;
	}
	h3 {
		font-size: 2.25rem;
		font-weight: bold;
		margin: 0.4rem 0 0 0;
	}
	h4 {
		font-size: 1.9rem;
		margin: 0;
	}
	h5 {
		margin: 0;
		font-size: 1.75rem;
	}
	h6 {
		font-size: 1.25rem;
		margin: 0;
		font-weight: normal;
	}

	p {
		font-size: $article-font-size;
		line-height: 1.4;
		margin: 0;
	}

	li {
		font-size: $article-font-size;
	}
	a {
		color: $accent-2;
		text-decoration: none;
	}
}
@media only screen and (max-width: $mobile-max-size) {
	.article {
		margin: 0;
		background-color: $bg-light1;
		font-size: $article-font-size-mobile;
		padding: 0.3rem 1.1rem 2rem 1.1rem;

		h1 {
			border-bottom: 2px solid black;
			font-size: 2rem;
			font-weight: bold;
		}
		h2 {
			font-size: 1.9rem;
			font-weight: bold;
		}

		h3 {
			font-size: 1.7rem;
			font-weight: bold;
		}

		h4 {
			font-size: 1.2rem;
			margin: 0;
		}

		h5 {
			font-size: 1.2rem;
			margin: 0;
		}

		h6 {
			font-size: 1.1rem;
			margin: 0;
		}

		p {
			font-size: $article-font-size-mobile;
		}

		ul {
			padding: 0 1rem 0 1.5rem;
		}

		li {
			font-size: $article-font-size-mobile;
		}
	}
}

.article-content {
	padding: 2rem 0;
}
