@import "colors.scss";
@import "constants.scss";

*{
	box-sizing: border-box;
}

html {
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
	z-index: 0;
}

body {
	background: $bg-color;
	border: 0;
	padding: 0;
	margin: 0;
	z-index: 0;
}

$error-font-color: #ac353c;

.error {
	background: #ffcbcb;
	border: 2px;
	border-radius: 0.5rem;
	color: $error-font-color;
	display: none;
	padding: 1rem;
}

.base {
	align-items: flex-start;
	color: $fg-2;
	flex-direction: column;
	flex-wrap: wrap;
	font-family: $font-family-p;
	margin: 0;
	padding: 0;
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	li {
		margin: 0.5rem 0;
	}
}
