@import "colors.scss";
@import "constants.scss";
@import "fonts.scss";

.flex_card_list {
	align-items: flex-start;
	display: flex;
	flex-wrap: wrap;
	transition: 250ms ease-in;
}

.flex_card {
	background-color: $card-bg;
	border-radius: 10px;
	margin: 1rem 1.5rem 1rem 0.5rem;
	max-width: 350px;
	overflow: hidden;
	padding: 0;
	transition: 250ms ease-in;
	width: 350px;

	a {
		color: $accent-1;
		text-decoration: none;
	}

	h3 {
		font-size: 22px;
		font-weight: bold;
		margin: 0.3rem 0 0.3rem 0;
	}

	h4 {
		font-size: 20px;
		font-weight: bold;
		margin: 0.3rem 0 0.3rem 0;
	}

	h5 {
		font-weight: normal;
		font-size: 18px;
		margin: 0.3rem 0 0.3rem 0;
	}

	h6 {
		font-weight: normal;
		font-size: 16px;
		margin: 0.3rem 0 0.3rem 0;
	}

	p {
		font-size: $card-p-font-size;
		color: #aaa;
		margin: 0.3rem 0 0.3rem 0;
	}

	&:hover {
		// background-color: rgba(17, 22, 40, 0.9);
		box-shadow: 0 0 12px -4px gray;
		/* opacity: 0.85; */
	}
}

.flex_card_img_container {
	width: 100%;

	img {
		background-size: cover;
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 0;
	}
}

@media only screen and (max-width: $mobile-max-size) {
	.flex_card {
		margin: 1rem 0rem 1rem 0rem;

		h3 {
			font-size: 20px;
			font-weight: bold;
			margin: 0.3rem 0 0.3rem 0;
		}

		h5 {
			font-weight: normal;
			font-size: 16px;
			margin: 0.3rem 0 0.3rem 0;
		}

		p {
			font-size: 14px;
			color: #aaa;
			margin: 0.3rem 0 0.3rem 0;
		}

		img {
			max-height: 30%;
		}
	}
}

.flex_card_info {
	color: white;
	flex: 1;
	flex-basis: 30%;
	padding: 0 0.6rem 0.3rem 0.6rem;
}

.horizontal_card {
	background-color: $card-bg;
	border-radius: 10px;
	margin: 0 0 1rem 0;
	width: 100%;
	padding: 0;
	transition: 250ms ease-in;

	h3 {
		font-size: 22px;
		font-weight: 700;
		margin: 0.3rem 0 0.3rem 0;
	}

	h4 {
		font-size: 20px;
		font-weight: 500;
		margin: 0.3rem 0 0.3rem 0;
	}

	h5 {
		font-weight: normal;
		font-size: 18px;
		margin: 0.3rem 0 0.3rem 0;
	}

	h6 {
		font-weight: normal;
		font-size: 16px;
		margin: 0.3rem 0 0.3rem 0;
	}
	p {
		font-size: $card-p-font-size;
		color: #aaa;
		margin: 0.3rem 0 0.3rem 0;
	}
	ul li {
		font-size: 15px;
	}

}

.horizontal_card_img_cover {
	display: flex;
	justify-content: center;
	img {
		background-size: cover;
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 0;
	}
}

.horizontal_card_icon {
	background-color: $fg-1;
	border-radius: 10px;
	display: inline-block;
	float: left;
	width: 84px;
	height: 84px;
	margin: 1rem;
	padding: 0.3rem;
	overflow: hidden;
	transition: 250ms ease-in;

	&:hover {
		opacity: 0.80;
	}
}

.horizontal_card_info {
	color: $fg-1;
	padding: 1rem;
	a {
		color: $accent-2;
		text-decoration: none;
		transition: 0.3s;
		&:hover {
			color: $accent-1;
		}
	}
}

.horizontal_expand_btn {
	background-color: $card-clickable-bg;
	border: none;
	border-radius: 10px;
	color: $fg-2;
	padding: 0.4rem 0.6rem;
}

@media only screen and (max-width: $mobile-max-size) {
	.horizontal_card {
		margin: 0.5rem 0rem 0.5rem 0;

		h3 {
			font-size: 20px;
			font-weight: bold;
			margin: 0.3rem 0 0.3rem 0;
		}

		h5 {
			font-weight: normal;
			font-size: 16px;
			margin: 0.3rem 0 0.3rem 0;
		}

		p {
			font-size: 14px;
			color: #aaa;
			margin: 0.3rem 0 0.3rem 0;
		}
	}

	.horizontal_card_icon {
		max-width: 74px;
		max-height: 74px;
	}

	.horizontal_card_info {
		width: 100%;
		padding: 1rem;
	}
}
