
$color-black1: #4D5B69;
$color-black2: #748291;

$color-red1: #e57373;
$color-red2: #ef5350;

$color-green1: #26A98B;
$color-green2: #21ED94;

$color-yellow1: #ffe170;
$color-yellow2: #EDB54B;

$color-blue1: #3493B8;
$color-blue2: #00A5E7;

$color-magenta1: #D160A0;
$color-magenta2: #E587BA;

$color-orange1: #FFBA6D;
$color-orange2: #F26649;

$color-white1: #E0E0E0;
$color-white2: #F7F9FF;

$primary-yellow: #ffe170;
$primary-purple: #790959;
$primary-color02: #C9006A;

$white-pink-d1: #f2cfd8;

$article-bg: rgba(251, 251, 251, 1);
$bg-color-faded-l09: rgba(251, 251, 251, 0.9);
$bg-color-faded-l07: rgba(251, 251, 251, 0.7);
$bg-color-faded-l05: rgba(251, 251, 251, 0.5);
$bg-color-faded-l03: rgba(251, 251, 251, 0.25);

$link-hover-bg: rgba(255, 255, 255, 0.2);

$article-link-hover-bg: rgba(0, 0, 0, 0.2);

$white-o085: rgba(255, 255, 255, 0.85);

// $body-bg: #111628; // rgba(17, 22, 40, 1);
$body-bg: #141a30;
$body-bg-hover: #0091E7; // 

$tag-hover: #5467A8;

/*
background: rgb(255,225,112);
background: linear-gradient(90deg, rgba(255,225,112,1) 5%, rgba(121,9,89,1) 95%);
*/
