
$bg-color: #232326;
$bg-light1: #f0f0f0;
$bg-error1: #e57373;

$bg-body: #232326;
$body-bg-hover: #0091E7; // 

$card-bg: #2b2c2f;
$card-clickable-bg: #3d3e42;

$fg-1: #f0f0f0;
$fg-2: #ececec;

$accent-1: #a0c5e7;
$accent-2: #7c90ff;



$tag-hover: #5467A8;

/*
background: rgb(255,225,112);
background: linear-gradient(90deg, rgba(255,225,112,1) 5%, rgba(121,9,89,1) 95%);
*/
