@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

$font-family-p: 'Fira Sans', sans serif;
$font-family-tag: 'Fira Sans', sans serif;
$font-family-logo: 'Fira Sans', sans serif;

$font-section-size: 1.4rem;

$font-size-p: 1.3rem;
$article-font-size: 1.1rem;

$article-font-size-mobile: 1rem;
