@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans|Open+Sans|Roboto&display=swap');

$font-family-p: 'Open Sans', sans-serif;

$font-family-tag: 'Roboto', sans-serif;

$font-family-logo: 'IBM Plex Sans', sans-serif;
