@import url('https://fonts.googleapis.com/css2?family=Fira+Sans|Roboto&display=swap');

$font-family-p: 'Fira Sans', sans serif;
$font-family-tag: 'Fira Sans', sans serif;
$font-family-logo: 'Fira Sans', sans serif;
