@import "animations.scss";
@import "colors.scss";
@import "constants.scss";
@import "fonts.scss";

.home-header {
	align-items: flex-start;
	color: $fg-2;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	font-family: $font-family-p;
	justify-content: space-around;
	padding: 2rem 3rem 0 3rem;

	ul {
		margin: 1rem 0;
		padding: 0;
		list-style: none;
	}
	li {
		margin: 0.5rem 0;
	}
}

@media only screen and (max-width: $mobile-max-size) {
	.home-header {
		padding: 2rem 1rem 0 1rem;
	}
}

.home-header-section {
	font-size: $article-font-size;
	margin: 0;
}

.home-section {
	display: flex;
	padding: 0 3rem;
	overflow-x: auto;

	h2 {
		font-weight: 700;
	}
}

@media only screen and (max-width: $mobile-max-size) {
	.home-section {
		padding: 0 1rem;
	}
}

.home-link {
	color: inherit;
	font-size: 22px;
	font-weight: bold;
	margin: 0 0.7rem 0 0;
	padding: 0;

	a {
		color: inherit;
		transition: 0.3s;
		text-decoration: none;
		&:hover {
			color: $accent-1;
			background-color: rgba(255,255,255,0.2);
			text-decoration: inherit;
		}
		&:visited {
			color: inherit;
			text-decoration: inherit;
		}
		&:visited:hover {
			color: $accent-1;
			text-decoration: inherit;
		}
	}
}

.logo-link {
	color: $fg-1;
	font-size: 2.2rem;
	font-weight: bold;
	margin: 0;
	padding: 0;
	a {
		color: inherit;
		transition: 0.3s;
		text-decoration: none;
		&:hover {
			color: $accent-2;
		}
		&:visited:hover {
			color: $accent-2;
			text-decoration: inherit;
		}
	}
}

.home-profile {
	border-radius: 9999px;
	margin: 1rem 2rem 1rem 2rem;
	height: 12rem;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.languages-list {
	align-items: flex-start;
	display: flex;
	flex-wrap: wrap;
	font-family: $font-family-tag;
	margin: 0;
	padding: 0;
	list-style: none;

	ul {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		margin: 0.5rem 0;
	}

	li {
		color: white;
		background-color: $tag-hover;
		border-radius: 6px;
		font-size: 14px;
		padding: 0.2rem 0.5rem;
		margin: 0rem 0.2rem 0.6rem 0.2rem;
		transition: 500ms ease;
		white-space: nowrap;
	}
}
