@import "colors.scss";
@import "constants.scss";
@import "fonts.scss";

$card-h3-size: 24px;
$card-h4-size: $card-h3-size - 2px;
$card-h5-size: $card-h4-size - 2px;
$card-h6-size: $card-h5-size - 2px;
$card-p-size: $card-h6-size;

.horizontal_card {
	background-color: $card-bg;
	border-radius: 10px;
	margin: 0 0 1rem 0;
	width: 100%;
	transition: 250ms ease-in;

	h3 {
		font-size: $card-h3-size;
		font-weight: bold;
		margin: 0.3rem 0 0.3rem 0;
	}

	h4 {
		font-size: $card-h4-size;
		font-weight: bold;
		margin: 0.3rem 0 0.3rem 0;
	}

	h5 {
		font-weight: normal;
		font-size: $card-h5-size;
		margin: 0.3rem 0 0.3rem 0;
	}

	h6 {
		font-weight: normal;
		font-size: $card-h6-size;
		margin: 0.3rem 0 0.3rem 0;
	}

	p {
		font-size: $card-p-size;
		color: $fg-2;
		margin: 0.3rem 0 0.3rem 0;
	}
	ul li {
		font-size: $card-p-size;
	}
}

@media only screen and (max-width: $mobile-max-size) {
	$card-h3-size: 22px;
	$card-h4-size: $card-h3-size - 2px;
	$card-h5-size: $card-h4-size - 2px;
	$card-h6-size: $card-h5-size - 2px;
	$card-p-size: $card-h6-size;

	.horizontal_card {
		margin: 0.5rem 0rem 0.5rem 0;

		h3 {
			font-size: $card-h3-size;
			font-weight: bold;
			margin: 0.3rem 0 0.3rem 0;
		}

		h4 {
			font-size: $card-h4-size;
			font-weight: bold;
			margin: 0.3rem 0 0.3rem 0;
		}

		h5 {
			font-weight: normal;
			font-size: $card-h5-size;
			margin: 0.3rem 0 0.3rem 0;
		}

		h6 {
			font-weight: normal;
			font-size: $card-h6-size;
			margin: 0.3rem 0 0.3rem 0;
		}

		p {
			font-size: $card-p-size;
			color: #aaa;
			margin: 0.3rem 0 0.3rem 0;
		}

		ul li {
			font-size: $card-p-size;
		}
	}
}

.horizontal_card_container {
	padding: 1rem;
	width: 100%;
}

.horizontal_card_header {
	align-items: center;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
    width: 100%;
}
@media only screen and (max-width: $mobile-max-size) {
	.horizontal_card_header {
		flex-direction: row-reverse;
		justify-content: space-between;
	}
}


.horizontal_card_img_cover {
	display: flex;
	justify-content: center;
	img {
		background-size: cover;
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 0;
	}
}

.horizontal_card_icon {
	background-color: $fg-1;
	border-radius: 10px;
	width: 84px;
	height: 84px;
	min-width: 84px;
	margin: 0 1rem 0.6rem 0;
	padding: 0.3rem;
	overflow: hidden;
	transition: 250ms ease-in;

	&:hover {
		opacity: 0.80;
	}
}
@media only screen and (max-width: $mobile-max-size) {
	.horizontal_card_icon {
		width: 74px;
		height: 74px;
		min-width: 74px;
		margin: 0 0 0 1rem;
	}
}

.horizontal_card_info {
	color: $fg-1;
	a {
		color: $accent-2;
		text-decoration: none;
		transition: 0.3s;
		&:hover {
			color: $accent-1;
		}
	}
}

.horizontal_expand_btn {
	background-color: $card-clickable-bg;
	border: none;
	border-radius: 10px;
	color: $fg-2;
	padding: 0.4rem 0.6rem;
}

