@import "colors.scss";
@import "constants.scss";

.project-image {
	border-radius: 10px;
	display: inline;
	float: right;
	margin-top: 1rem;
	margin-bottom: 1rem;
	margin-left: 1rem;
	max-height: 300px;
	max-width: 100%;
	overflow: hidden;
	padding: 0;
	transition: .5s ease;

	&:hover {
		opacity: 0.8;
	}
}

.project-icon-medium {
	color: black;
	display: inline;
	font-size: 1.8rem;
	transition: color 300ms;
	&:hover {
		color: $body-bg-hover;
	}
}

.project-icon-small {
	color: black;
	margin: 0 0.2rem 0.1rem 0.6rem;
	transition: color 300ms;
	&:hover {
		color: $body-bg-hover;
	}
}

.project-load-error {
	background-color: $bg-error1;
	color: white;
	display: inline;
	font-size: 0.8rem;
	border-radius: 6px;
	padding: 0.2rem 0.4rem;
	margin: 0 1rem;
	transition-duration: 400ms;

	&:hover {
		background-color: $bg-error1;
	}
}

.project-list {
	ul {
		list-style-type: none;
	}
	li {
		float: left;
	}
}

.project-github {
	margin: 0.4rem 0;
	a {
		color: accent-2;
		margin-right: 0.6rem;
		transition: 0.3s;
		text-decoration: none;
		&:hover {
			color: $accent-1;
		}
		&:visited:hover {
			color: $accent-1;
			text-decoration: inherit;
		}
	}

	ul {
		display: inline;
	}
}
