@import "colors.scss";
@import "constants.scss";
@import "fonts.scss";

#tag-list {
	align-items: flex-start;
	display: flex;
	flex-wrap: nowrap;
	font-family: $font-family-tag;
	overflow-x: auto;
	margin: 0.8rem 0 0rem 0;
	padding: 0;
	list-style: none;
	width: 100%;

	li {
		color: white;
		background-color: $body-bg;
		border-radius: 6px;
		font-size: 14px;
		padding: 0.2rem 0.5rem;
		margin: 0 0.2rem;
		transition: 500ms ease;
		white-space: nowrap;
		&:hover {
			background-color: $tag-hover;
		}
	}
}

@media only screen and (max-width: $mobile-max-size) {
	#tag-list {
		margin: 0.8rem 0 0 0;
		li {
			font-size: 12px;
			margin: 0 0.1rem;
			padding: 0.2rem 0.5rem;
		}
	}
}
